@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--primary-color: #22254b;
	--secondary-color: #373b69;
	--text-color: #eeeeee;
	}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	}

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--primary-color);
	}

header {
	background-color: var(--secondary-color);
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	}

.search {
	background-color: transparent;
	border: 2px solid var(--primary-color);
	border-radius: 50px;
	font-family: inherit;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	color: var(--text-color);
	}

.search::placeholder {
	color: #7378c5;
	}

.search:focus {
	outline: none;
	background-color: var(--primary-color);
	}

.main {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	}

.movie {
	width: 300px;
	margin: 1rem;
	background-color: var(--secondary-color);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	border-radius: 3px;
	}

.movie img {
	width: 100%;
	}

.movie__info {
	color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem 1rem;
	letter-spacing: 1px;
	}

.movie__title {
	margin-top: 0;
	}

.movie__rating {
	background-color: var(--primary-color);
	border-radius: 50%;
	padding: 0.5rem 0.5rem;
	font-weight: bold;
	}

.movie__rating.green {
	color: #00e202;
	}

.movie__rating.orange {
	color: #e2cc03;
	}

.movie__rating.red {
	color: red;
	}

.overview {
	background-color: var(--text-color);
	padding: 2rem;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 100%;
	transform: translateY(101%);
	opacity: 0;
	transition: 0.3s ease-in-out;
	}

.movie:hover .overview {
	transform: translateY(0);
	opacity: 1;
	}