@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	}

body {
	font-family: 'Roboto Mono', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	background-color: #88ee44;
	color: #ffffff;
	}

.counter__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 30px 50px;
	}

@media (min-width: 560px) {
	body {
		flex-direction: row;
		}
	}

.counter {
	font-size: 60px;
	margin-top: 10px;
	}

