@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('button-css/_duo-line.css');
@import url('button-css/_ghost.css');

:root {
	--link-main-color: #00e202;
	--text-main-color: #3e3e3e;
	}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	}

body {
	font-family: 'Muli', sans-serif;
	min-height: 100vh;
	}

