@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--black: #1d1d1d;
	--grey: #647687;
	--white: #f1f1f1;
	--red: #ee1111;
	--dark-red: #b91d47;
	--blue: #2d89ef;
	--dark-blue: #2b5797;
	--yellow: #ffc40d;
	--orange: #f2552c;
	--green: #60a917;
	--dark-green: #008a00;
	--pink: #ff0097;
	--purple: #9f00a7;
	--default-box-shadow: 0 0.5rem 1rem rgba(45, 45, 45, 0.5);
	}

*, ::after, ::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	}

html {
	font-size: 62.5%;
	}

body {
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	}

.button {
	min-width: 10rem;
	height: 3rem;
	font-size: 2rem;
	font-family: inherit;
	letter-spacing: 0.01rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s ease;
	margin: 2rem auto;
	line-height: 2rem;
	background: transparent;
	cursor: pointer;
	padding: 2rem 4rem;
	}

.button__liquid {
	font-family: Impact, serif;
	position: relative;
	width: 250px;
	height: 80px;
	border-radius: 10px;
	background: none;
	border: none;
	outline: none;
	font-size: 40px;
	text-transform: uppercase;
	color: #ffffff;
	z-index: 99;
	cursor: pointer;
	}

.button__liquid:before {
	content: "";
	background: #000000;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	}

.button__liquid:hover {
	animation: liquidixe 0.5s;
	}

.button__liquid:hover:before {
	background: linear-gradient(to right, red, green, blue);
	filter: url('#wave');
	}

@keyframes liquidixe {
	0% {
		transform: scaleY(1);
		}
	60% {
		transform: scaleY(1.5);
		}
	80% {
		transform: scaleY(0.9);
		}
	100% {
		transform: scaleY(1);
		}
	}